.favoris-image {
  max-height: 150px;
}

.favoris-delete {
  margin-bottom: 10px;
}

button:hover {
  background-color: #8fa88b;
}

.container {
  margin: 0 25px;
}

.favoris {
  display: flex;
  margin: 10px;
  width: 100%;

  &:last-child {
    margin-bottom: 30px;
  }

  &-info {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    font-size: 10px;
  }

  &-delete {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  &-update-quantity {
    margin-left: 10px;
    margin-right: 10px;
  }

  &-prices {
    display: flex;
  }

  &-price-discounted {
    margin: 0 10px;
    font-size: 15px;
  }

  &-price-old {
    text-decoration: line-through;
    font-size: 15px;
  }

  &-quantity-controls {
  }

  &-confirm-total {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
  }

  &-platform {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &-button {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
  }

  &-quantity {
    margin: 5px 0;
    font-size: 15px;
  }

  &-productButton {
    display: flex;
    justify-content: center;
  }
}
