// CSS en mobile first
.card-container {
  box-shadow: 2px 5px 5px grey !important;
  width: 100% !important;
  margin: 5px;
  @media screen and (min-width: 768px) {
    flex: 0 0 calc(25% - 20px);
  }

  &-name {
    font-weight: bold;
    font-size: 18px;
    color: black;
    margin-top: 10px;
  }
  &-platform {
    font-size: 10px !important;
  }
  &-price {
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
    text-decoration: line-through;
    &-discounted {
      color: #8fa88b;
      font-size: large;
    }
  }
  &-offer {
    font-size: x-large;
    font-size: 14px;
    margin-left: 10px;
  }
}
